* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.timline-container {
    background-color: #000;
    color: white;
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transform: perspective(1200px) translateX(0px) translateY(0px) scale(1) rotate(0deg) rotateX(0deg) rotateY(0deg) skewX(0deg) skewY(0deg) translateZ(0px);
    padding: 40px 0;
    gap: 00px;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    height: 400px;

}
.timeline-item::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 100%;
}

.timeline-item::before{
    content: '';
    position: absolute;
    width: 9px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff5d;
    z-index: -1;
}
.timeline .img-box img {
    align-items: flex-start;
    align-self: start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    justify-self: start;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 300px;
}

.timeline-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 30px;
    position: relative;
    width: 300px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 45px 4px #ffffff80, inset 0 0 50px 10px #ffffff52;

}