* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.timline-container {
    background-color: #000;
    color: white;
    padding: 40px 0px;
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transform: perspective(1200px) translateX(0px) translateY(0px) scale(1) rotate(0deg) rotateX(0deg) rotateY(0deg) skewX(0deg) skewY(0deg) translateZ(0px);
    gap: 0px;
    position: relative;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    height: 400px;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #b8b8b8 0%, rgb(255, 255, 255) 100%);
    border-radius: 100%;
    z-index: 999;
    box-shadow: 0 0 50px 5px #fff;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #ffffff5d, #ffffff5d);
    transition: background .3s ease-in-out;
    z-index: 99;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #424242 0%, rgb(255, 255, 255) 100%);
    transition: background .3s ease-in-out;
    z-index: 99;
}

.timeline.animate::after {
    animation: timeline 1s ease-in-out;
}

@keyframes timeline {
    0% {
        background: linear-gradient(to top, #ffffff5d, #ffffff5d);
    }

    100% {
        background: linear-gradient(180deg, #424242 0%, rgb(255, 255, 255) 100%);
    }
}

.timeline .img-box img {
    display: flex;
    width: 300px;
}

.timeline-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 45px 4px #ffffff80, inset 0 0 50px 10px #ffffff52;
}